<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
.nav-bar{
    display:flex;
    background-color: rgb(27, 87, 151);
    color: white;
}

.navele{
    display: flex;
    padding:20px;
    /* justify-content: flex-end; */
    /* margin-left: 10px; */
    padding-left: 900px;
    margin-top: 10px;
    font-size: 1.1rem;
}

.logo{
    font-size: 1.7rem;
    margin-left: 10px;
    font-weight: 600;
}

.e1{
    padding-left:15px ;
}

a {
    color: inherit; 
    text-decoration: none;
}



    </style>
</head>
<body>
    <div class="nav-bar">
        <div><p class="logo">EXPLORE US</p></div>
        <div class="navele">
            <div class="e1"><a href="#">Home</a></div>
            <div class="e1"><a href="/register">Register</a></div>
            <div class="e1"><a href='../views/login.hbs'>Login</a></div>
        </div>
    </div>
   
</body>
</html>